<html>
<head></head>
<body>
<h1>Add Blog Post</h1>

<form method="POST" action="/add-post">
<input type="text" placeHolder="Title" name="title" require/>
<input type="text" placeHolder="Body" name="body" require/>
<input type="checkbox" name="is_published" />
<button>Save</button>
</form>

</body>

</html>